.ForumMap {
    background-color: var(--color-surface);
    display: flex;
    max-width: 900px;
    // margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    gap: 5px;
    width: max-content;


    .forum {
        // min-height: 100px;
        // min-width: 100px;
        background-color: var(--color-white);
        background-size: contain;
        background-position: center;
        overflow: hidden;
        display: inline-block;
        outline: 3px solid var(--color-border);

        &:hover {
            outline-color: var(--color-primary);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }



}