.Navbar {
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .searchbar {
        background-color: var(--color-surface);
        width: 30%;

        input {
            background-color: transparent;
            width: 100%;
            outline: none;
            color: var(--color-white);
        }
    }

    .right {
        svg {
            color: var(--color-border);
        }

        .accountLink {

            width: 30px;
            height: 30px;
        }

        .profilePicture {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}