@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 100ms linear;
}

:root {
  --color-background: #152028; /* Primary background color */
  --color-background-focused: #101b23; /* Background color for focused elements */
  --color-primary: #70b01f; /* Primary accent color */
  --color-secondary: #0084ff; /* Secondary accent color */
  --color-border: #707375; /* Border color */
  --color-white: #ffffff; /* Border color */
  --color-surface: #202e39; /* Surface or secondary background color */
}
body {
  background-color: var(--color-background);
}
