.Forums {
    max-width: 900px;

    .forum {
        background-color: var(--color-surface);

        h3 {
            color: var(--color-white);
        }

        .icon {
            height: 50px;
            width: 50px;
        }

        .infos {

            p,
            h4 {
                color: var(--color-white);
            }

        }
    }

    .types {
        .type {
            color: var(--color-white);
            border: 1px solid var(--color-border);

            &:hover {
                border-color: var(--color-secondary);

            }
        }

        // .type:hover,
        .active {
            border-color: var(--color-secondary);
            background-color: var(--color-secondary);

        }
    }
}