.SideBar {
    padding: 20px;
    height: 100vh;
    padding-right: 0;
    border-right: 1px solid var(--color-border);
    min-width: 250px;

    .logo {
        height: 50px;
        width: auto;
        margin-bottom: 10px;
    }

    .navs {


        .nav {
            color: var(--color-border);
            border-right: 3px solid transparent;

            &:hover {
                color: var(--color-white);
                background-color: var(--color-background-focused);
            }
        }

        .active {
            border-top-right-radius: 0;
            color: var(--color-white);
            border-bottom-right-radius: 0;
            background-color: var(--color-background-focused);
            border-right-color: var(--color-primary);
        }

        .count {
            background-color: var(--color-secondary);
            height: 20px;
            width: 20px;
            color: var(--color-white);
        }
    }
}