.Threads {
    width: 100%;
    max-width: 400px;


    .staff {
        .member {
            &:hover {
                background-color: var(--color-background-focused);
            }

            .img {
                height: 60px;
                width: 60px;
                background-color: var(--color-surface);
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                svg {
                    color: var(--color-border);
                }
            }

            .info {
                color: var(--color-white);

                .name {
                    overflow: hidden;
                    max-width: 200px;
                }

            }
        }
    }

    .line {

        border-bottom: 1px solid var(--color-border);
    }
}